--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
torchvision
matplotlib
albumentations
opencv-python
segmentation_models_pytorch
pytorch_toolbelt
jupyter
pandas
git+https://github.com/ufoym/imbalanced-dataset-sampler.git